:root {
     --length: 0;
}

body {
    font-family: Victor Mono, sans-serif;
    text-align: center;
    margin: 0;
    /* Remove default margin */
    overflow: hidden;
    /* Prevent scrolling */
   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    background: #ff3333;
    width: 100%;
    font-size: 24px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add z-index to keep it on top of other content */
    padding: 10px;
    /* Add padding for spacing */
}

.button-group#bg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 20px;
    /* Add margin for spacing */
}

.button {
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    /* Add vertical margin for spacing */
}

.button:hover {
    background-color: #0056b3;
}

/* Initially hide the "Credits" div */
#credits {
    display: none;
}

#animatedPath path.animate-svg-path {
    stroke-dasharray: var(--length);
    animation: 2s fillSvg linear;
}

@keyframes fillSvg {
    0%{
        stroke-dashoffset: var(--length);
    }
    100%{
        stroke-dashoffset: 0;
    }
}